__pycache__
venv
geckodriver.log
.virtualenv
*.pyc
reports
logs
test-output

# Editor Foo #
##############
*.swp
*.swn
*.swo
*.un~
*.tmproj
*.un~
*.*~
._*

.project
.pydevproject
.pytest_cache
__pycache__
.idea
*.log
*.json
*.html

